/* 
text color basic: #000000
text color additional: #212121
text color highlighted blue:  #2196F3

background head: #FFFFFF
background dark section:  #2F303A 
background light section: #E5E5E5
background grey section:  #F5F4FA


text for employeer name, section heads   color: #212121
text for employeer position, paragraph  :  color: #757575;


grey text footer  color: rgba(255, 255, 255, 0.6)
*/
:root {
  --basic-blue-color: #2196f3;
  --text-common-light-color: #757575;
  --text-headder-dark-color: #212121;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --background-main-color: #ffffff;
  --background-medium-color: #f5f4fa;
  --background-dark-color: #2f303a;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: var(--text-common-light-color);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.header {
  background: var(--background-main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.logo {
  font-family: 'Raleway', 'Oleo Script', cursive, sans-serif;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192; /* 31px */
  letter-spacing: 0.03em;
}

.logo {
  color: var(--basic-blue-color);
}

.logo-top {
  color: var(--text-black-color);
}

.logo-footer {
  color: var(--text-white-color);
}

.nav-main a {
  color: var(--text-headder-dark-color);
}

.nav-main a[href='./index.html'],
.nav-main a:hover,
.nav-main a:active,
.top-contacts a:hover,
.top-contacts a:active,
.top-contacts a:hover,
.top-contacts a:active {
  color: var(--basic-blue-color);
}

.top-contacts a {
  color: var(--text-common-light-color);
}

.order-now {
  background: var(--background-dark-color);
  text-align: center;
  letter-spacing: 0.06em;
}

.order-now h1 {
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-now a {
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
}

.order-now-button {
  width: 200px;
  height: 50px;
  background-color: var(--basic-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.our-advantages-cards,
.section-what-we-do {
  background-color: var(--background-main-color);
}

.our-advantages-cards h3 {
  color: var(--text-headder-dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; /* 16px */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.our-advantages-cards p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71; /* 24px */
  letter-spacing: 0.03em;
  text-align: left;
}

.section-what-we-do h2,
.section-our-team h2 {
  color: var(--text-headder-dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-our-team {
  background: var(--background-medium-color);
}

.section-our-team-list h3 {
  color: var(--text-headder-dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-our-team-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.main-footer {
  background: var(--background-dark-color);
}

.main-footer-contact-list a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.main-footer-contact-list a[target='_blank'] {
  color: var(--text-white-color);
}

/* ================ПОРТФОЛИО============ */

.section-portfolio {
  background: var(--background-main-color);
}

/*if not <a> then murkup cannot overpower "user agent stylesheet"*/
.nav-main-portfolio a {
  color: var(--text-headder-dark-color);
}

.nav-main-portfolio a:hover,
.nav-main-portfolio a:active,
.nav-main-portfolio a:focus {
  color: var(--basic-blue-color);
}

.portfolio-nav .item {
  display: block;
  height: 38px;
  width: 110px; /* need to find how to do by content*/
  background: var(--background-medium-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;
}

.portfolio-nav .item:hover,
.portfolio-nav .item:active,
.portfolio-nav .item:focus {
  background: var(--basic-blue-color);
  color: var(--text-white-color);
}

.portfolio-nav .item {
  color: var(--text-headder-dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0px;
}

.nav-main-portfolio a[href='./portfolio.html'] {
  color: var(--basic-blue-color);
}

.portfolio-cards h2 {
  color: var(--text-headder-dark-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-cards p {
  color: var(--text-common-light-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
